


    
  
@media screen and ( min-width: 768px ) and ( max-width: 992px )
    .slick-slide img
        width: 70%
    .header
        &__logo
            img
                width: 80%
        &__phone 
            font-size: 16px     
    .catalog
        &__content
            justify-content: center
       
@media screen and ( min-width: 576px )and ( max-width: 766px )
    .slick-slide img
        width: 70%
    .header
        height: 60px
        &__logo img 
            width: 80% 
        &__phone
            font-size: 16px
            
        &__official
            display: none
            
    .promo
        &__wrapper
            align-items: center
        &__header    
            font-size: 35px
        &__subheader     
            font-size: 21px
    .advantages
        &__wrapper      
            flex-wrap: wrap
            justify-content: center
            align-items: center
            text-align: center 
        &__card  
            width: 70%
            margin-right: 0
            max-width: 368px
        &__heading 
            font-size: 18px  
    .title_left
        font-size: 35px
        padding-left: 20px

    .catalog
        &__tabs  
            margin: 0 auto
            width: 460px
            &-item
                width: 250px
        &__content 
            justify-content: center       
    .reviews
        &__wrapper 
            padding: 0 40px
            margin: 0
            width: 100%
        &__text 
            font-size: 15px    
  
            
                 
 

                  


@media screen and ( min-width:480px ) and ( max-width: 575px )
    .slick-slide img
        width: 70%
        
    .header
        &__official 
            display: none
        &__logo img 
            width: 75%
        &__phone 
            font-size: 14px 
             
    .promo
       
        &__wrapper
           text-align: center
        &__header  
           
            font-size: 35px
        &__subheader     
            font-size: 21px
            

    .advantages
        &__wrapper      
            flex-wrap: wrap
            justify-content: center
            align-items: center
            text-align: center 
        &__card  
            width: 70%
            margin-right: 0
            max-width: 368px
        &__heading 
            font-size: 18px                   
    .catalog
        margin: 0
        &__tabs
            width: 460px
        &__content    
            margin: 0
            justify-content: center
            
    .reviews
        img
            padding-bottom: 15px
            margin: 0
            width: 80px
            height: 80px
           
        &__item  
            animation: none
            flex-direction: column
            justify-content: center
            width: 100%
        &__text    
            text-align: center !important
            width: 300px
        &__heading  
            padding-top: 15px
            text-align: center !important
        &__subheading
            text-align: center !important
            
@media screen and ( min-width: 321px )   and ( max-width: 479px )
    .slick-slide img
        width: 70%
    .advantages
        &__wrapper      
            flex-wrap: wrap
            justify-content: center
            align-items: center
            text-align: center 
        &__card  
            width: 70%
            margin-right: 0
            max-width: 368px
        &__heading 
            font-size: 18px  

    .header
        &__official 
            display: none
        &__logo img 
            width: 75%
        &__phone 
            font-size: 14px
    .promo    
        &__header
            text-align: center  
            font-size: 32px 
        &__subheader     
            font-size: 20px 
            text-align: center 
        &__icon
            margin-bottom: 20px    
        &__icons
            margin-top: 40px
            justify-content: center
            align-items: baseline
            flex-wrap: wrap
            width: 100%
            img
                width: 32px 
        &__link 
            display: block
            margin: 22px auto                 
    
    .button_main
        margin: 0 auto
        margin-top: 40px
        width: 280px 
    .title 
        font-size: 20px
        &_left
            text-align: center      
    .catalog
        margin: 0
        &-item
            margin-left: 10px
            
        &__content   
            display: flex
            justify-content: center
            align-items: center      
                
        &__tabs

            flex-direction: column
        &__tab
            padding: 0 
            width: 100%
            margin: 10px 0
    .footer
        &__info        
              max-width: 323px

    .reviews
        padding: 7px 0 61px 0

        img
            padding-bottom: 15px
            margin: 0
            width: 80px
            height: 80px
           
        &__item  
            animation: none
            flex-direction: column
            justify-content: center
            width: 100%
        &__text    
            text-align: center !important
            width: 300px
        &__heading  
            padding-top: 15px
            text-align: center !important
        &__subheading
            text-align: center !important  
     
   
    .modal
             
    .feed-form input
        width: 250px 
    .button_submit
        width: 250px 
    .button_main
        width: 250px                                    

            
                           
@media screen and ( max-width: 320px )
    .carousel
        display: none
    .advantages
        &__wrapper      
            flex-wrap: wrap
            justify-content: center
            align-items: center
            text-align: center 
        &__card  
            width: 70%
            margin-right: 0
            max-width: 368px
        &__heading 
            font-size: 18px  
    
    
    .header
        &__official 
            display: none
        &__logo img 
            width: 75%
        &__phone 
            font-size: 14px        
    .promo
        &__link

            display: block
            margin: 22px auto
        &__wrapper
            align-items: center
        &__header    
            font-size: 22px
        &__subheader     
            font-size: 18px
            text-align: center 
        &__icons
            margin-top: 30px
            justify-content: center
            align-items: baseline
            flex-wrap: wrap
            max-width: 300px
            img
                width: 32px
        &__descr 
            font-size: 12px
    .title 
        font-size: 20px
        &_left
            text-align: center

    .consultation
        &__desc 

            font-size: 16px
            text-align: center
            padding-top: 40px
   
    .feed-form input
        width: 250px 
    .button_submit
        width: 250px
    .button_main
        width: 250px
    .catalog
        &-item
            margin-left: 20px ////////////////
            display: block   ///////////////
                
        &__tabs 
            padding: 0    
        &__content   
            display: flex
            justify-content: center
            align-items: center      
                
        &__tabs

            flex-direction: column
        &__tab
            width: 100%
            margin: 10px 0
    .footer
        &__info        
              max-width: 306px  
    .reviews
        padding: 7px 0 61px 0


        img
            padding-bottom: 15px
            margin: 0
            width: 80px
            height: 80px
           
        &__item  
            display: flex
            flex-direction: column
            justify-content: center
            width: 100%
        &__text    
            display: block
            margin: 0 auto
            font-size: 14px !important
            text-align: center !important
            
        &__heading  
            padding-top: 15px
            text-align: center !important
        &__subheading
            text-align: center !important              

           
            


                    


              
    

                               
                      





    

  