@media screen and ( max-width: 1200px )
    .carousel
        display: none
  

       
@media screen and ( min-width: 576px )and ( max-width: 766px )
    .header
        height: 60px
        &__logo img 
            width: 73% 
        &__phone
            display: none  
        &__official
            display: none

    .button
        &_header    
            display: none
                 
 

                  
@media screen and ( min-width: 768px ) and ( max-width: 992px )
    
    .header
        &__logo
            img
                width: 80%
        &__phone 
            font-size: 16px     
    .catalog
        &__content
            justify-content: center
    

                    


              
    

                               
                      





    

  