@import 'blocks/promo.sass'
@import 'blocks/header.sass'
@import 'blocks/button.sass'
    
*
    padding: 0
    margin: 0
    font-family: Museo San, sans-serif
    font-size: 14px
  

.container
    max-width: 950px
    margin: 0 auto   

   


    


   
