.consultation
    min-height: 680px
    padding: 100px 20px 92px 20px
    background: url('../img/bg2.jpg') center (center/cover) no-repeat
    font-size: 30px
    &__desc
        font-size: 20px
        text-align: left
        color: #ffffff
        padding-top: 80px
        padding-left: 20px
    .error
        border: 1px solid red
        font-size: 15px
        color:  red
    label.error
        margin-bottom: 15px
        border: none
        text-align: center    